/* MAIN LAYOUT */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* PAGE SECTIONS */
.page {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* PAGE 1 */
#page1 {
    background: #fefbfb;
}

/* PAGE 2 */
#page2 {
    background: #d4f7e8;
    font-size: 40px;
    font-weight: bold;
    justify-content: flex-start;
    align-items: flex-start;
}

/* NOTE AREA BOX */
.note-box {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* TEXTAREA */
#textarea {
    width: 450px;
    height: 200px;
    box-shadow: 4px 4px 10px 0px #803636;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ccc;
    resize: none;
}


/* BUTTON */
#notebutton {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #cb0f0f;
    cursor: pointer;
    margin-top: 20px;
    height: 55px;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #fbb03b);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
    text-align: center;
    
}

.note {

    width: fit-content;
    min-width: 100px;
    height: 100px;
    position: relative;
    padding: 17px 17px 10px 10px;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 200;
    color: #070606;
    cursor: pointer;
    margin-top: 20px;
    border: 1px;
    background-size: 300% 100%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 0px #803636;
    background: #f5f3f1;
}

.clsbtn {
    position: absolute;
    top: 5px;          /* top corner */
    right: 5px;        /* right corner */
    width: 20px;       /* small button */
    height: 20px;
    font-size: 10px;
    line-height: 18px;
    padding: 0;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.clsbtn:hover {
    background: #ff0000;
}

.color-row {
    display: flex;
    flex-direction: column; /* niche lane ke liye */
    align-items: center;
    padding-bottom: 90px;
    
}
.color-row label {
    padding-right: 5px;  /* Right side padding */
    padding-left: 15px;  /* Left side padding */
    padding-bottom: 10px; /* Bottom side padding */
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(10px); }
}
.shake {
    animation: shake 0.5s ease;
}


#error-message {
    color: red;
    font-size: 14px;
    display: none;
}
 


/* Your Notes Heading */
#page2 h3 {
    margin: 0;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    text-align: center; /* Ensure it's centered */
    width: 100%; /* Ensure full width for centering */
}

#spn {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    color: #555;
    text-align: center;
}
