<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Sign up</h1>

    <div>
        <form method="post" action="/user">
            <label>Full name</label>
            <input type="text" name="name" placeholder="John Doe"/>
            <label>email name</label>
            <input type="email" name="email" placeholder="example@gmail.com"/>
            <label> Password </label>
            <input type="password" name="password" placeholder="********** "/>
            <button type ="submit">Submit</button>
        </form>
    
</body>
</html>